<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111533968851-v4ru3ag8i6o2h5lc5ob22of3r320picp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111533968851-v4ru3ag8i6o2h5lc5ob22of3r320picp</string>
	<key>API_KEY</key>
	<string>AIzaSyAvMbKgsu3xYTY7BlhF-O2PQFHRTb-MUcE</string>
	<key>GCM_SENDER_ID</key>
	<string>111533968851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Personal.Swipe</string>
	<key>PROJECT_ID</key>
	<string>swipe-1e5b7</string>
	<key>STORAGE_BUCKET</key>
	<string>swipe-1e5b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111533968851:ios:134b6698ee9676122f3326</string>
</dict>
</plist>